.page {
  height: 100vh;
  width: 100vw;
  display: flex;

  .page-sidebar {
    width: 55px;
  }

  .page-body {
    height: 100vh;
    overflow: auto;
    flex: 1;
  }

  .page-title {
    padding: $spacer 0;
  }

  .page-sidebar {
    position: relative;
    z-index: 1;
  }
}
