// sidebar
$sidebar-background: #171717;

// colors
$blue: #0063B1;
$indigo: #413EB3;
$purple: #5C2E91;
$pink: #9A0089;
$red: #D13438;
$orange: #EAA300;
$yellow: #DFBE00;
$green: #13A10E;
$teal: #00AE56;
$cyan: #009CA4;
$dark: #1f1f1f;

// Options
$enable-rounded: false;
$enable-shadows: true;
$enable-transitions: false;

//// Body
$body-bg: #000;
$body-color: #F2F2F2;

// Forms
$input-bg: $body-bg;
$input-color: $body-color;
$input-border-color: #2B2B2B;
$input-btn-border-width: 2px;
$input-focus-bg: #FFF;
$input-focus-color: #1F1F1F;

// Cards
$card-bg: #1F1F1F;

// Carousel
$carousel-control-color: #CCCCCC;
$carousel-indicator-active-bg: #CCCCCC;

// List group
$list-group-bg: #1F1F1F;

// Tables
$table-accent-bg: #1F1F1F;
$table-hover-bg: #1F1F1F;